:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  /* Mín */
  --font-size: 16px;
  --small: 0.5rem;
  --medium: 1rem;
  --big: 2rem;
  --offset: 20px;
  --width-offset: calc(100% - calc(2 * var(--offset)));
}
