.flashcards-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: var(--offset);
  justify-content: center;
  margin: var(--offset) auto;
  max-width: 100%;
}
  
.flashcard {
  width: 200px;
  height: 150px;
  perspective: 1000px;
  cursor: pointer;
  position: relative; /* Til að auðvelda staðsetningu barnaelementa */
  overflow: hidden;
  border: 1px solid transparent;
  border-radius: 8px;

}
  
.flashcard-inner {
  background-color: #ff6347;
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;

}
  
.flashcard-inner.flipped {
  transform: rotateY(180deg);
}
  
/* Forsíða kortsins */
.front {
  background-color: #007bff;
  color: rgb(255 255 255);
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
}
  
/* Bakhlið kortsins */
.back {
  background-color: #ff6347;
  color: rgb(255 255 255);
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

/* Bakhlið kortsins */
.back-front {
  background-color: #007bff;
  color: rgb(255 255 255);
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}
  
