html {
  box-sizing: border-box;
  font-size: var(--font-size);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

button {
  width: 320px;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.5rem 3rem;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #5a3ed8;
  cursor: pointer;
  will-change: filter;
  transition: filter 300ms;
  transition: border-color 0.25s;
  color: rgb(211 226 211 / 94.1%);
}

button:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
  color: #646cff;
}

img {
  max-width: 100%;
}

.hidden {
  display: none !important;
}

form {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  height: auto;
}

a {
  color: inherit;
}


nav {
  width: 100%;

}

ul {
  justify-content: space-around;
  list-style: none;
  display: flex;
}


h1,
h2 {
  font-size: 1.5rem;
  max-width: var(--width-offset);
  justify-self: center;
}
